body{
    /* text-transform: capitalize; */
    font-family: Roboto,Arial,sans-serif ;
}

.nav-item:hover{
    color: #00b39b !important;
}

.logo{
    text-align: center;
    margin: 10px;
    padding: 20px;
}

.logo > h1{
    padding: 25px;
    font-weight: 300;
    color: #00b39b;

}

.logo > .row{
    color: #747474;
    text-align: justify;
}

.logos{
    /* position: absolute; */
    /* margin: 80px  0 0; */
    top: 545;
    /* right: 100; */

}
.clients{
    margin: 10px;
    padding: 25px;
    background-color: #00b39b;
    color: white;
    border: none;
    border-radius: 14px;
}

.clients > h1{
    font-weight: 400;
    font-size: 20px;
    margin: 2px;
}

.clients > h2{
    font-size: 25px;
    font-weight: 300;
    margin: 10px 0 50px 0;
}

.doctors{
    margin: 10px;
    padding: 25px;
    background-color: #3d83df;
    color: white;
    border: none;
    border-radius: 14px;
}

.doctors > h1{
    font-weight: 400;
    font-size: 20px;
    margin: 2px;
}

.doctors > h2{
    font-size: 25px;
    font-weight: 300;
    margin: 10px 0 50px 0;
}

.services{
    margin: 10px;
    padding: 25px;
    background-color: #1b2734;
    color: white;
    border: none;
    border-radius: 14px;
}

.services > h1{
    font-weight: 400;
    font-size: 20px;
    margin: 2px;
}

.services > h2{
    font-size: 25px;
    font-weight: 300;
    margin: 10px 0 50px 0;
}

select {
    outline: 0;
    background: transparent;
    border:none;
    width: 150px;
    border-bottom: 1px solid #fff;
    color: whitesmoke;
    text-decoration: none;

}

option{
    color: black;
}
.clinics >  h1{
    font-weight: 300;
    font-size: 38px;
    color: #00b39b;
}

.clinics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    color: #00b39b;
    padding: 50px;
}

.clinics  li{
    color: #00b39b;
}

.clinics li > svg{
    width: 150px;
    height: auto;
    color: #00b39b !important;

}

.clinics li > img{
    padding: none;
    width: 80px;
    height: 15px;

}


.stats{
    background-color: #e5faf8;
    margin: 50px;
    padding: 50px 120px !important;
}

.header > h1{
    font-size: 34px;
    font-weight: 300;
    color: #00b39b;
    letter-spacing: -.3px;
}

.header > p{
    margin: 0;
    padding: 25px 55px 25px 0;
    font-size: 14px;
    color: #747474;

}

.info{
    background-color: white;
    margin: 10px;
    padding: 15px !important;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.info > h3{
    font-weight: 300;
    font-size: 25px;
    color: #00b39b;
    margin: 8px 0;
}

.info > p{
    font-size: 12px;
    color: #747474;
}

.info2{
    background-color: white;
    margin: -25px 10px 30px 10px !important;
    padding: 50px 15px !important;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.info2 > h3{
    font-weight: 300;
    font-size: 25px;
    color: #00b39b;
    margin: 8px 0;
}

.info2 > p{
    font-size: 12px;
    color: #747474;
}

.info3{
    background-color: white;
    margin: 10px;
    padding: 50px 15px !important;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.info3 > h3{
    font-weight: 300;
    font-size: 25px;
    color: #00b39b;
    margin: 8px 0;
}

.info3 > p{
    font-size: 12px;
    color: #747474;
}

.info4{
    background-color: white;
    margin:  -20px 10px 25px 10px !important;
    padding: 50px 15px !important;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.info4 > h3{
    font-weight: 300;
    font-size: 25px;
    color: #00b39b;
    margin: 8px 0;
}

.info4 > p{
    font-size: 12px;
    color: #747474;
}


.offices-header{
    margin: 50px;
    padding: 20px 180px;
    text-align: center;
}
.offices-header > h1{
    font-weight: 300;
    font-size: 34.4px;
    color: #00b39b;
}

.offices-header > p{
    color: #747474;
}

.office{
    padding: 0 100px;
}
.offices{
    margin: 18px 0;

}

.office-body{
    display: flex;
    flex-direction: row
}

.office-body h5{
    font-size: 15px;
}

.office-body  > .btn{
    text-align: center;
    font-size: 10px;
    padding: 8px;
    margin-left: 80px;

}

.join{
    text-align: center;
    margin: 100px;
}
.join > h1 {
    font-weight: 300;
    font-size: 34.29px;
    padding: 20px;
    /* font-family: Work Sans,Arial,sans-serif; */
}

.join > .btn{
    padding: 8px 15px;
    font-weight: 700;
    font-size: 12px;
}

footer{
    text-align: center;
    font-size: 12px;
    border-top: 1px solid rgba(116, 116, 116, .5);
    padding: 30px 20px 0 20px;
    color: #747474;
}

footer > p > span > a{
    text-decoration: none;
}

footer > p > a{
    text-decoration: none;
}